/* ******************************************* */
/* Header */
/* ******************************************* */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9ecef;

  height: 9.6rem;
  padding: 0 4.8rem;
}

header p {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  color: #555;
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.nav-list-item:link,
.nav-list-item:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  color: #555;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-list-item:hover,
.nav-list-item:active {
  color: #111;
}
/* ******************************************* */
/* Hero Section */
/* ******************************************* */

.section-hero {
  background-color: #e9ecef;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
}

.hero-img {
  width: 100%;
}

/* ******************************************* */
/* Personal Statement Section */
/* ******************************************* */

.section-personal {
  padding: 4.8rem 0 9.6rem 0;
}

.personal-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
  color: #333;
}

/* ******************************************* */
/* Technical Skills Section */
/* ******************************************* */

.section-technical {
  background-color: #dee2e6;
  padding: 4.8rem 0 9.6rem 0;
}

.technical {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.technical-description {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 400;
  color: #333;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* ******************************************* */
/* Qualifications Section */
/* ******************************************* */

.section-qualification {
  background-color: #495057;
  padding: 4.8rem 0 9.6rem 0;
}

.section-qualification h2 {
  color: #dee2e6;
}

.tabs-container {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
  background-color: #fff;
}

.qualifications-tab {
  transform: translateY(-50%);
  color: #dee2e6;
}

.qualifications-tab {
  color: #333;
  background-color: #dee2e6;
}

.qualifications-tab:hover {
  color: #555;
  background-color: #e9ecef;
}

.qualification-tab-active {
  transform: translateY(-66%);
}

.qualification-content {
  display: none;
  color: #333;
  height: 25rem;

  padding: 2.5rem 7rem 6.5rem 7rem;
}

.qualification-content-active {
  display: block;
  background-color: #fff;
}

/* ******************************************* */
/* Work History Section */
/* ******************************************* */

.section-work {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #e9ecef;
}

.title-color {
  color: #333;
}

.work-job {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #333;
}

.work-list {
  list-style: none;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* ******************************************* */
/* Project Portfolio Section */
/* ******************************************* */

.section-project {
  padding: 4.8rem 0 9.6rem 0;
}

.project-card {
  background-color: #dee2e6;
}

.project-img {
  width: 100%;
  margin-bottom: 3.2rem;
}

.project-title {
  color: #333;
  margin-bottom: 2.4rem;
}

.project-text {
  margin-bottom: 3.2rem;
}

.project-links {
  display: flex;
  gap: 4.8rem;
  justify-content: center;
}

.project-link {
  text-decoration: none;
  padding: 1.25rem 4.5rem;
  background-color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  color: #333;
  /* font-family: inherit;/ */
}
